<div class="modal fade" id="taskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="taskModalLabel">Cadastro de Nova Tarefa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #taskForm="ngForm">
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" id="title" name="title" class="form-control" [(ngModel)]="newTask.title" required />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <textarea id="description" name="description" class="form-control" [(ngModel)]="newTask.description" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select" [(ngModel)]="newTask.status" required>
              <option value="PENDING">Pendente</option>
              <option value="IN_PROGRESS">Em Progresso</option>
              <option value="COMPLETED">Concluída</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="deadline" class="form-label">Prazo</label>
            <input type="date" id="deadline" name="deadline" class="form-control" [(ngModel)]="newTask.deadline" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" [disabled]="!taskForm.valid" (click)="addTask()">Salvar</button>
      </div>
    </div>
  </div>
</div>
